body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.videobg {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: 0;
}

.welcomeTitle {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 15%;
    display: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcomeWord {
    font-size: 80px;
    color: transparent;
    margin-bottom: 20px;
    text-align: center;
    cursor: default;
    -webkit-text-stroke: 1px white;
    background-clip: text;
    -webkit-background-clip: text;
}

.welcomeWord2 {
    font-size: 12px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    margin-top: -12px;
    word-spacing: 30px;
    margin-bottom: 20px;
    cursor: default;
    padding-bottom: 100px;
    margin-bottom: -20px;
    transition: margin-top 0.3s ease;
}

.joinLink {
  position: fixed;
  top: 360px; 
  right: 660px; 
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 8px 40px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.7px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

.joinLink:hover{
    background: white;
    color: #050801;
    box-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 200px white;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.welcomeTitle:hover .welcomeWord2{
   margin-top: 10px;
}

.welcomeWord::after {
    content: "";
    position: absolute;
    width: 530px;
    height: 5px; 
    background-color: transparent; 
    left: 31%;
    top: 35%;
    transition: background-color 0.5s ease; 
    border-radius: 25px;
  }
  
  .welcomeTitle:hover .welcomeWord::after {
    background-color: white; 
    margin-top: 20px;
  }

 